@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,400;1,500&display=swap');

html {
    font-family: 'EB Garamond', serif;
    font-size: 62, 5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* inicia header */
header {
    font-family: 'EB Garamond', serif;
}

.encabezado div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background: rgb(243, 255, 218);
    background: linear-gradient(0deg, rgba(243, 255, 218, 1) 0%, rgba(221, 255, 188, 1) 100%);
}

.talleLetra li a {
    font-size: 1.2rem;
}

.logoNav {
    visibility: hidden;
}

.flexCenter {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-right: 23% !important
}

.encabezado div h1 {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: #52734D;
}

.encabezado div img {
    padding: 5% 0% 5% 0%;
}


body .zona-1 {
    width: 100%;
    height: auto;
}

body .zona-2 {
    width: 100%;
    height: auto;
}

body .zona-2-desarrollo {
    background: rgb(226, 250, 202);
    background: linear-gradient(0deg, rgba(152, 165, 137, 0.774) 2%, rgba(234, 255, 230, 0.772) 61%);
    width: 100%;
    height: auto;
    padding: 4% 1%;
}

body .zona-2-desarrollo .hogarPres {
    text-align: center;
    font-size: 2rem;
    padding: 3%;
}

body .zona-2-desarrollo p {
    padding: 3%;
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    color: #5c7857;
}

.dinoPlanta {
    margin-left: 40%;
    /*     width: 25%;
    height: auto; */
    /* cursor:pointer; */
}

body .zona-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #DDFFBC;
    padding: 2%;
}


body .zona-4 {
    width: 100%;
    height: auto;
    padding: 2%;
    background: rgba(173, 175, 173, 0.632);
    background: linear-gradient(0deg, rgb(211, 222, 211) 2%, rgb(226, 243, 223) 96%);
}

.zona-4 .productosGallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    background-color: #c2ffd1;

}


.zona-4 .productosGallery div img {
    width: 278px;
    height: 218px;
}

.agregarProducto {
    background-color: #d5ffdf;
    border: 2px solid #52734D;
    border-radius: 20px;
    padding: 2%;
    font-size: 0.8rem;
} 
.productoCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7em;
    align-items: center;
}

.productoCarrito img {
    width: 8em;
    height: auto;
}
.botonBorrar {
    text-transform: uppercase;
    font-weight: lighter;
    padding: 2%;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
}

.botonBorrar:hover {
    background-color: black;
    color: white;
}

.total {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #5c7857;
}

/* .terminarCompra {
    text-transform: uppercase;
    padding: 2%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
}
 */
.terminarCompra:hover {
    background-color: black;
    color: white;
}


body .zona-1 .encabezado div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* aplica a: .background-nav/ */
.background-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zona-2 {
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.6rem;
    width: 100%;
    height: auto;
}

.zona-2 .presentacion {
    background-image: url(https://images.pexels.com/photos/2133092/pexels-photo-2133092.jpeg?cs=srgb&dl=pexels-quang-nguyen-vinh-2133092.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    padding: 2% 0% 50% 0%;
}

body .zona-1 .encabezado div {
    background-color: rgba(221, 255, 188, 0.831372549);
    padding: 1%;
}

body .zona-1 .encabezado div .dino-sucu {
    padding: 1% 0%;
    width: 120px;
    height: 120px;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    padding: 3%;
    color: green;
}

li {
    text-align: center;
    font-size: 2.2rem;
    padding: 3%;
    color: #52734D;
}

h3 {
    text-align: end;
    font-size: 2rem;
    padding: 3%;
    color: #2c3d2a;
}

body .zona-5 {
    width: 100%;
    height: auto;
    padding: 2%;
    background: linear-gradient(0deg, rgb(126, 168, 119) 2%, rgb(211, 222, 211) 96%);
}

body .zona-5 div {
    display: flex;
    justify-content: flex-end;
}

body .zona-5 #arrowUpEvent {
    width: 10%;
    height: auto;
    cursor: pointer;
}

.zona-2 .contacto {
    width: 100%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/2896280/pexels-photo-2896280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 0% 50% 0%;
}

.zona-2 .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.zona-2-desarrollo .ficha div ul li {
    list-style: none;
    text-align: center;
    line-height: 1.8rem;
    color: #466142;
    font-size: 1.3rem;
    font-weight: bold;
}

.zona-2-desarrollo .ficha {
    background-image: url(https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* loginIngreso.html */
main {
    display: none;
}

main .botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;
    padding: 10%;
    margin-left: 10%;
    background-color: #bdffe9;
}

main .portada {
    background-image: url(https://images.pexels.com/photos/4503823/pexels-photo-4503823.jpeg?cs=srgb&dl=pexels-cottonbro-4503823.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    padding: 2% 0% 50% 0%;
}

main .portada2 {
    background-image: url(https://images.pexels.com/photos/3306986/pexels-photo-3306986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
    padding: 2% 0% 50% 0%;
}

.primerSaludo {
    padding-top: 15%;
    font-size: 2.5rem;
    color: aliceblue;
    font-style: italic;
    text-align: center;
}

.op1 {
    background-color: #d5ffdf;
    cursor: pointer;
    padding: 2%;
    margin: 3%;
    border: 2px solid #52734D;
    border-radius: 20px;

}
.op1 a{
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    font-style: italic;
    padding: 1% 0 5% 0;
    color: #44893a;
    text-decoration: none;
}
